<form class="{{cssClass}}" autocomplete="off">
  <div class="sheet-wrapper">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
      <div class="sheet-header__fields">
        <input class="input--title" name="name" type="text" value="{{actor.name}}" placeholder="Name" />
        <input class="input--title" name="heroName.value" type="text" value="{{system.attrTop.heroName.value}}"
          placeholder="{{system.attrTop.heroName.label}}" />
        <span class="sheet-playbook">
          <span class="view-playbook" data-playbook="{{system.details.playbook}}" title="{{localize 'PBTA.ViewPlaybook'}}">
            <i class="fas fa-eye"></i>
          </span>
          <input class="input--title charplaybook" name="system.details.playbook" type="text"
          value="{{system.details.playbook}}" placeholder="Playbook" list="playbooks" />
          <datalist id="playbooks">
            {{#each system.playbooks as |playbook id|}}
            <option value="{{playbook}}" />
            {{/each}}
          </datalist>
        </span>
      </div>
    </header>

    <section class="sheet-bottom">
      {{!-- Sidebar --}}
      <section class="sheet-look">
        <div class="cell cell--aesthetics">
          <div class="cell cell--attributes-left">
            <div class="cell cell--image">
              <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100"
                width="100" />
            </div>
          </div>
        </div>
      </section>
      {{!-- Main --}}
      <section class="sheet-main">
        {{!-- Sheet Body --}}
        <section class="sheet-body">
          {{!-- Main Tab --}}
          <div class="tab description" data-group="primary">
            <div class="sheet-tab">
              <div class="cell cell--bio">
                <label class="cell__title">{{localize "MASKS-SHEETS.Look"}}</label>
                {{editor system.attrLeft.look.value target="system.attrLeft.look.value" button=true owner=owner
                editable=editable}}
              </div>
              <div class="cell cell--bio">
                <label class="cell__title">{{localize "MASKS-SHEETS.Abilities"}}</label>
                {{editor system.attrLeft.abilities.value target="system.attrLeft.abilities.value" button=true owner=owner
                editable=editable}}
              </div>
            </div>
          </div>
        </section>
      </section>
    </section>
  </div>
</form>