<form class="{{cssClass}}" autocomplete="off">
  <div class="sheet-wrapper">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
      <div class="sheet-header__fields">
        <input class="input--title" name="name" type="text" value="{{actor.name}}" placeholder="Name" />
        <input class="input--title" name="data.attrTop.heroName.value" type="text" value="{{data.attrTop.heroName.value}}"
          placeholder="{{data.attrTop.heroName.label}}" />
        <input class="input--title charplaybook" name="data.details.playbook" type="text"
          value="{{data.details.playbook}}" placeholder="Playbook" list="playbooks" />
        <datalist id="playbooks">
          {{#each data.playbooks as |playbook id|}}
          <option value="{{playbook}}" />
          {{/each}}
        </datalist>
      </div>
    </header>

    <section class="sheet-top">
      {{!-- Attributes --}}
      <section class="sheet-attributes">
        <div class="cell cell--image">
          <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100"
            width="100" />
        </div>

        <div class="cell cell--stats">
          <ol class="stats-list">
            {{#each data.stats as |stat key|}}
            <li class="stat flexrow" data-stat="{{key}}">
              <span class="stat-icon stat-rollable rollable" data-mod="{{stat.value}}" data-label="{{stat.label}}"><i
                  class="fas fa-dice-d6"></i> <i class="fas fa-dice-d6"></i></span>
              <label for="data.stats.{{key}}.value" class="cell__title stat-rollable rollable" data-mod="{{stat.value}}"
                data-label="{{stat.label}}">{{ stat.translation }}</label>
              <input class="stat-value" type="text" name="data.stats.{{key}}.value"
                value="{{#if stat.value}}{{numberFormat stat.value decimals=0 sign=true}}{{else}}0{{/if}}"
                data-dtype="Number" />
              {{#if ../data.statToggle}}
              <label class="stat-toggle checkbox"><input type="checkbox" name="data.stats.{{key}}.toggle" {{checked
                  stat.toggle}} />{{../data.statToggle.label}}</label>
              {{/if}}
            </li>
            {{/each}}
            {{#each customStats as |stat key|}}
            <li class="stat flexrow" data-stat="{{key}}">
              <span class="stat-icon stat-rollable custom-rollable" data-mod="{{stat.value}}" data-label="{{stat.label}}"><i
                  class="fas fa-dice-d6"></i> <i class="fas fa-dice-d6"></i></span>
              <label for="{{stat.attrName}}" class="cell__title stat-rollable custom-rollable" data-mod="{{stat.attrValue}}"
                data-label="{{stat.label}}">{{ stat.label }}</label>
              <input class="stat-value" type="text" name="{{stat.attrValue}}"
                value="{{#if stat.value}}{{numberFormat stat.value decimals=0 sign=true}}{{else}}0{{/if}}"
                data-dtype="Number" />
              {{#if ../data.statToggle}}
              <label class="stat-toggle checkbox"><input type="checkbox" name="data.resources.custom.{{key}}.secondaryValue" {{checked
                  stat.secondaryValue}} />{{../data.statToggle.label}}</label>
              {{/if}}
            </li>
            {{/each}}
            {{#unless isEditable}}
            <li class="stat flexrow masks-label-shift">
              <label class="cell__title masks-shift-roll">
                <img src="modules/masks-newgeneration-sheets/assets/back-forth.svg" title="{{localize "MASKS-SHEETS.Shift-Labels"}}" />
                {{localize "MASKS-SHEETS.Shift-Labels"}}</label>
              <div>
                <select class="masks-shift masks-shift-up" name="masks-shift-up" data-action="shift-up" title="{{localize "MASKS-SHEETS.Shift-Up"}}">
                  {{#select labelShiftUp}}<option value="none">{{localize "MASKS-SHEETS.None"}}</option>
                  {{#each data.stats as |stat key|}}
                  {{#unless stat.toggle}}
                  {{#unless (eq key ../labelShiftDown)}}<option value="{{key}}">{{stat.label}}</option>{{/unless}}
                  {{/unless}}
                  {{/each}}
                  {{#each customStats as |stat key|}}
                  {{#unless (eq key ../labelShiftDown)}}<option value="{{key}}" data-isCustom="true">{{stat.label}}</option>{{/unless}}
                  {{/each}}
                  {{/select}}
                </select>
                <select class="masks-shift masks-shift-down" name="masks-shift-down" data-action="shift-down" title="{{localize "MASKS-SHEETS.Shift-Down"}}">
                  {{#select labelShiftDown}}<option value="none">{{localize "MASKS-SHEETS.None"}}</option>
                  {{#each data.stats as |stat key|}}
                  {{#unless stat.toggle}}
                  {{#unless (eq key ../labelShiftUp)}}<option value="{{key}}">{{stat.label}}</option>{{/unless}}
                  {{/unless}}
                  {{/each}}
                  {{#each customStats as |stat key|}}
                  {{#unless (eq key ../labelShiftUp)}}<option value="{{key}}" data-isCustom="true">{{stat.label}}</option>{{/unless}}
                  {{/each}}
                  {{/select}}
                </select>
              </div>
            </li>
            {{/unless}}
          </ol>
        </div>

      </section>
      {{#unless isObserver}}
      <section class="sheet-attributes-top">
        <div class="cell cell--aesthetics">
          <div class="cell cell--attributes-top">
            <div class="cell cell--xp cell--Xp">
              <label for="data.attrTop.xp.value" class="cell__title">{{localize "MASKS-SHEETS.Potential"}}</label>
              <div class="cell__clock">
                {{#if data.attrTop.xp.steps}}
                {{#each data.attrTop.xp.steps as |step stepKey|}}
                <input type="radio" class="attr-xp" data-name="data.attrTop.xp" data-step="{{stepKey}}" {{checked
                  step}}>
                {{/each}}
                {{/if}}
              </div>
            </div>
            <div class="cell cell--advances cell--Number">
              <label for="data.attrTop.advances.value" class="cell__title">{{localize "MASKS-SHEETS.Advances"}}</label>
              <div class="cell__wrapper">
                <button class="resource-masks resource-decrease" data-action="decrease"
                  data-attr="data.attrTop.advances.value">-</button>
                <input type="number" name="data.attrTop.advances.value"
                  value="{{numberFormat data.attrTop.advances.value decimals=0 sign=false}}" data-dtype="Number" />
                <button class="resource-masks resource-increase" data-action="increase"
                  data-attr="data.attrTop.advances.value">+</button>
              </div>
            </div>
            <div class="cell cell--forward">
              <label class="cell__title">{{localize "PBTA.Forward"}}</label>
              <div class="cell__wrapper">
                <button class="resource-masks resource-decrease" data-action="decrease"
                  data-attr="data.resources.forward.value">-</button>
                <input type="number" name="data.resources.forward.value"
                  value="{{numberFormat data.resources.forward.value decimals=0 sign=false}}" data-dtype="Number" />
                <button class="resource-masks resource-increase" data-action="increase"
                  data-attr="data.resources.forward.value">+</button>
              </div>
            </div>
            <div class="cell cell--ongoing">
              <label class="cell__title">{{localize "PBTA.Ongoing"}}</label>
              <div class="cell__wrapper">
                <button class="resource-masks resource-decrease" data-action="decrease"
                  data-attr="data.resources.ongoing.value">-</button>
                <input type="number" name="data.resources.ongoing.value"
                  value="{{numberFormat data.resources.ongoing.value decimals=0 sign=false}}" data-dtype="Number" />
                <button class="resource-masks resource-increase" data-action="increase"
                  data-attr="data.resources.ongoing.value">+</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
    {{/unless}}

    <section class="sheet-bottom">
      {{!-- Sidebar --}}
      {{#unless isObserver}}
      <section class="sheet-look">
        <div class="cell cell--aesthetics">
          <div class="cell cell--attributes-left">
            <div class="cell cell--conditions cell--ListMany">
              <label for="data.attrLeft.conditions.value" class="cell__title">{{localize "MASKS-SHEETS.CONDITIONS.Label"}}</label>
              <ul class="cell__checkboxes flexcol">
                {{#each conditions as |option optionKey|}}
                <label>
                  <input type="checkbox" class="attr-list"
                    name="data.attrLeft.conditions.options.{{optionKey}}.value" {{checked option.value}} />
                  {{{option.translation}}}
                </label>
                {{/each}}
                {{#each customConditions as |condition key|}}
                <label>
                  <input type="checkbox" class="attr-list"
                    name="{{condition.attrValue}}" {{checked condition.value}} />
                  {{{condition.label}}}
                </label>
                {{/each}}
              </ul>
            </div>
            <div class="cell cell--moment cell--LongText">
              <label for="data.attrLeft.moment.value" class="cell__title">{{localize "MASKS-SHEETS.Moment"}}</label>
              <label><input type="checkbox" name="data.attrTop.momentUnlocked.value" {{checked data.attrTop.momentUnlocked.value}} /> {{localize "MASKS-SHEETS.Unlocked"}}</label>
              {{editor content=data.attrLeft.moment.value target="data.attrLeft.moment.value" button=true owner=owner
              editable=editable}}
            </div>
          </div>
        </div>
      </section>
      {{/unless}}

      {{!-- Main --}}
      <section class="sheet-main">

        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
          <a class="item" data-tab="description">{{localize "PBTA.Description"}}</a>
          <a class="item" data-tab="moves">{{localize "PBTA.Moves"}}</a>
          {{#unless isObserver}}
          <a class="item" data-tab="equipment">{{localize "MASKS-SHEETS.Resources"}}</a>
          <a class="item" data-tab="influences">{{localize "MASKS-SHEETS.Influences"}}</a>
          {{/unless}}
        </nav>

        {{!-- Sheet Body --}}
        <section class="sheet-body">

          {{!-- Main Tab --}}
          <div class="tab description" data-group="primary" data-tab="description">
            <div class="sheet-tab">
              <div class="cell cell--bio">
                <label class="cell__title">{{localize "MASKS-SHEETS.Look"}}</label>
                {{editor content=data.attrLeft.look.value target="data.attrLeft.look.value" button=true owner=owner
                editable=editable}}
              </div>
              <div class="cell cell--bio">
                <label class="cell__title">{{localize "MASKS-SHEETS.Abilities"}}</label>
                {{editor content=data.attrLeft.abilities.value target="data.attrLeft.abilities.value" button=true owner=owner
                editable=editable}}
              </div>
              <div class="cell cell--bio">
                <label class="cell__title">{{localize "MASKS-SHEETS.Backstory"}}</label>
                {{editor content=data.details.biography target="data.details.biography" button=true owner=owner
                editable=editable}}
              </div>
              {{#unless isObserver}}
              <div class="cell cell--bio">
                <label class="cell__title">{{localize "MASKS-SHEETS.TheTeam"}}</label>
                {{editor content=data.details.team target="data.details.team" button=true owner=owner
                editable=editable}}
              </div>
              <div class="cell cell--bio">
                <label class="cell__title">{{localize "MASKS-SHEETS.Relationships"}}</label>
                {{editor content=data.details.relationships target="data.details.relationships" button=true owner=owner
                editable=editable}}
              </div>
              {{/unless}}
            </div>
          </div>

          {{!-- Moves Tab --}}
          <div class="tab moves active" data-group="primary" data-tab="moves">
            <section class="sheet-tab">

              <section class="sheet-notifications">
                {{#if data.isToken}}
                <div class="cell__title warning small-text">{{localize "MASKS-SHEETS.WARNINGS.UnlinkedMoves"}}</div>
                {{/if}}
              </section>

              {{#each moves as |moveGroup moveKey|}}
              <div class="cell cell--moves cell--group cell--{{moveKey}}">
                <h2 class="cell__title">
                  <label class="item-group-label">{{#if (eq moveKey "PBTA_OTHER")}}{{localize
                    moveKey}}{{else}}{{getLabel ../moveTypes moveKey}}{{/if}}<span class="item-details-toggle"><i
                        class="fas fa-chevron-up"></i></span></label>
                  <div class="item-controls">
                    <button type="button" class="item-control item-create" title='{{localize "PBTA.MoveCreate"}}'
                      data-type="move" data-moveType="{{moveKey}}">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </h2>
                <ol class="items-list">
                  {{#each moveGroup as |item id|}}
                  <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
                    {{> "systems/pbta/templates/parts/sheet-moves.html" item=item statSettings=../../data.statSettings}}
                  </li>
                  {{/each}}
                </ol>
              </div>
              {{/each}}

            </section>
          </div>

          {{!-- Owned Equipment Tab --}}
          <div class="tab equipment" data-group="primary" data-tab="equipment">
            <section class="sheet-notifications" style="margin-top:10px;">
              {{#if data.isToken}}
              <div class="cell__title warning small-text">{{localize "MASKS-SHEETS.WARNINGS.UnlinkedResources"}}</div>
              {{/if}}
            </section>
            <div class="cell cell--custom cell--group">
              <h2 class="cell__title">
                <label class="item-group-label">{{localize "MASKS-SHEETS.Custom"}}<span
                    class="item-details-toggle"><i class="fas fa-chevron-up"></i></span></label>
                <div class="item-controls">
                  <button type="button" class="item-control custom-control" data-action="create" title='{{localize "MASKS-SHEETS.Create-Custom-Resource"}}'
                    data-type="customResource">
                    <i class="fas fa-plus"></i>
                  </button>
              </h2>
              <div class="items-list masks-custom-list">
                {{> "modules/masks-newgeneration-sheets/templates/partials/custom-resource-partial.hbs" items=customResources owner=owner editable=editable}}
              </div>
            </div>
            {{#each equipment as |equipmentGroup equipmentKey|}}
            <div class="cell cell--equipment cell--group cell--{{equipmentKey}}">
              <h2 class="cell__title">
                <label class="item-group-label">{{#if (eq equipmentKey "PBTA_OTHER")}}{{localize
                  equipmentKey}}{{else}}{{getLabel ../equipmentTypes equipmentKey}}{{/if}}<span
                    class="item-details-toggle"><i class="fas fa-chevron-up"></i></span></label>
                <div class="item-controls">
                  <button type="button" class="item-control item-create" title='{{localize "PBTA.EquipmentCreate"}}'
                    data-type="equipment" data-equipmentType="{{equipmentKey}}">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </h2>
              <ol class="items-list">
                {{#each equipmentGroup as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
                  <h4 class="item-name">
                    <div class="item-avatar">
                      <span class="rollable item-rollable" data-roll=""><i class="fas fa-book"></i></span>
                      <img class="item-icon" src="{{item.img}}" title="{{item.name}}" width="27" height="27" />
                    </div>
                    <span class="item-label">{{item.name}}<span class="item-details-toggle"><i
                          class="fas fa-chevron-down"></i></span></span>
                  </h4>

                  <div class="item-meta tags">
                    {{#if item.data.uses }}<span class="tag">{{localize "PBTA.Uses"}}:
                      {{item.data.uses}}</span>{{/if}}
                    {{#if item.data.quantity }}<span class="tag">{{localize "PBTA.Qty"}}:
                      {{item.data.quantity}}</span>{{/if}}
                    {{#if item.data.weight }}<span class="tag">{{localize "PBTA.Wt"}}:
                      {{item.data.weight}}</span>{{/if}}
                  </div>
                  <div class="item-controls">
                    <a class="item-control item-edit" title="{{localize "MASKS-SHEETS.Edit-Item"}}"><i class="fas fa-edit"></i></a>
                    <a class="item-control item-delete" title="{{localize "MASKS-SHEETS.Delete-Item"}}"><i class="fas fa-trash"></i></a>
                  </div>
                  <div class="item-description">
                    {{#if item.data.tags}}{{{pbtaTags item.data.tags}}}{{/if}}
                    <div class="description">{{{item.data.description}}}</div>
                  </div>
                </li>
                {{/each}}
              </ol>
            </div>
            {{/each}}
          </div>
          <div class="tab influences" data-group="primary" data-tab="influences">
            <div class="cell cell--group cell--influences">
              <h2 class="cell__title">
                <label class="item-group-label">{{localize "MASKS-SHEETS.Influences"}}<span
                    class="item-details-toggle"><i class="fas fa-chevron-up"></i></span></label>
                <div class="item-controls">
                  <button type="button" class="influence-control influence-create"
                    title='{{localize "MASKS-SHEETS.InfluenceCreate"}}' data-type="influence">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </h2>
              <ol class="items-list">
                {{#each influences}}
                <li class="item flexrow" data-influence-id="{{id}}">
                  <div class="influence-name">
                    <img class="influence-icon" data-influence-action="roll" src="modules/masks-newgeneration-sheets/assets/shadow-follower.svg" />
                    <input type="text" class="influence--name" value="{{name}}" placeholder="{{localize "MASKS-SHEETS.Person-Name"}}" />
                  </div>
                  <div class="influence-management">
                    <img class="influence-icon {{#unless hasInfluenceOver}}influence-disabled{{/unless}}" data-influence-action="hasInfluenceOver" src="modules/masks-newgeneration-sheets/assets/team-downgrade.svg" title="{{localize "MASKS-SHEETS.HasInfluence"}}" />
                    <img class="influence-icon {{#unless haveInfluenceOver}}influence-disabled{{/unless}}" data-influence-action="haveInfluenceOver" src="modules/masks-newgeneration-sheets/assets/team-upgrade.svg" title="{{localize "MASKS-SHEETS.HaveInfluence"}}" />
                    {{#if locked}}
                    <a class="influence-control influence-lock" data-influence-action="lock" title="{{localize "MASKS-SHEETS.Influence-Unlock"}}"><i class="fas fa-lock"></i></a>
                    {{else}}
                    <a class="influence-control influence-unlock" data-influence-action="lock" title="{{localize "MASKS-SHEETS.Influence-Lock"}}"><i class="fas fa-lock-open"></i></a>
                    {{/if}}
                    <a class="influence-control influence-delete" data-influence-action="delete" title="{{localize "MASKS-SHEETS.Delete-Influence"}}"><i class="fas fa-trash"></i></a>
                  </div>
                </li>
                {{/each}}
              </ol>
            </div>
          </div>
        </section>
      </section>
    </section>
  </div>
</form>