/* Variables */
:root {
    --actor-gradient: linear-gradient(
    to bottom,
    #121336 64%,
    #854c5b 90%,
    #cd8e18 100%
  );
  --primary-text-color: #ffffff;
  --secondary-text-color: #fff4dc;

  --interactive-bg-color: #683b47;
  --interactive-bg-hover-color: #4b2a33;
  --stats-secondary-bg-color: rgba(0, 0, 0, 0.25);
  --option-bg-color: #683b47;
  
  --tabs-border-color: #cd8e18;
  --tab-bg-active-color: #cd8e18;
  
  --input-bg-color: rgba(0, 0, 0, 0.5);
  --tox-edit-area-bg-color: rgba(255, 255, 255, 0.75);

  --resource-masks-border-color: #bcc8de;

  --custom-resource-border-color: #ffffff;

  --cell-title-border-color: #8b8dc1;

  --window-bg-image: url("/modules/masks-newgeneration-sheets/assets/skyline.webp"), 
  url("/modules/masks-newgeneration-sheets/assets/stars.webp"),
  var(--actor-gradient);
  --window-bg-position: bottom left, top left;
}
