/* Variables */
:root {
  --actor-gradient: linear-gradient(
    to bottom,
    #3179cd 0%,
    #9cb1a5 80%,
    #ffeb98 100%
  );
  --primary-text-color: #ffffff;
  --secondary-text-color: #000000;

  --interactive-bg-color: #1e528f;
  --interactive-bg-hover-color: #173f6e;
  --stats-secondary-bg-color: rgba(0, 0, 0, 0.25);
  --option-bg-color: #683b47;

  --tabs-border-color: #ffeb98;
  --tab-bg-active-color: #ffeb98;

  --input-bg-color: rgb(255 255 255 / 36%);
  --tox-edit-area-bg-color: rgba(255, 255, 255, 0.5);

  --resource-masks-border-color: #bcc8de;

  --custom-resource-border-color: #ffffff;

  --cell-title-border-color: #b0c4de;

  --window-bg-image: url("/modules/masks-newgeneration-sheets/assets/skyline.webp"),
    var(--actor-gradient);
  --window-bg-position: bottom left;
}

.pbta.sheet.masks label {
  font-weight: normal;
}

.masks.window-app .window-content {
  color: var(--secondary-text-color);
}

.pbta.sheet.masks .tox.tox-tinymce .tox-edit-area__iframe {
  background: var(--tox-edit-area-bg-color);
}

.vtt .masks .window-header {
  background-color: var(--interactive-bg-color);
}

.pbta.sheet.masks .sheet-wrapper .editor-content {
  background: var(--input-bg-color);
  color: var(--secondary-text-color);
  min-height: 31px;
}

.pbta.sheet.masks .sheet-header__fields {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.pbta.sheet.masks.npc .sheet-header__fields {
  padding: 0px;
}

.pbta.sheet.masks .cell--custom .cell__title .item-group-label,
.pbta.sheet.masks .cell--influences .cell__title .item-group-label {
  cursor: pointer;
}
.pbta.sheet.masks .cell--custom .item-details-toggle,
.pbta.sheet.masks .cell--influences .item-details-toggle {
  display: inline-block;
  width: 24px;
  height: 16px;
  text-align: center;
  border-radius: 5px;
  transition: all ease-in-out 0.25s;
}
.pbta.sheet.masks .cell--custom .fas,
.pbta.sheet.masks .cell--influences .fas {
  transition: all ease-in-out 0.25s;
}
.pbta.sheet.masks .cell--custom .open .fas,
.pbta.sheet.masks .cell--influences .open .fas {
  transform: rotate(180deg);
}

.pbta.sheet.masks .sheet-wrapper .sheet-bottom .cell.cell--bio {
  min-height: 175px;
  margin-bottom: 5px;
}
.pbta.sheet.masks .sheet-wrapper .sheet-bottom .cell.cell--bio .editor {
  min-height: calc(100% - 40px);
}

.pbta.sheet.masks .cell__wrapper {
  position: relative;
  width: 100%;
}
.pbta.sheet.masks .cell__wrapper > button.resource-masks {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  font-size: 16px;
  font-weight: bold;
  padding: 0;
  line-height: 1;
  text-align: center;
  margin: auto;
  border: 1px solid var(--resource-masks-border-color);
  color: var(--secondary-text-color);
}
.pbta.sheet.masks .cell__wrapper > button.resource-masks.resource-decrease {
  left: 5px;
}
.pbta.sheet.masks .cell__wrapper > input[type="number"] {
  font-size: 18px;
  text-align: center;
  background-color: var(--input-bg-color);
  color: var(--secondary-text-color);
  font-weight: bold;
  margin: 0;
  display: block;
  width: 100%;
}
.pbta.sheet.masks .cell__wrapper > button.resource-masks.resource-increase {
  right: 5px;
}

.pbta.sheet.masks
  .cell--aesthetics
  .cell--conditions
  ul.cell__checkboxes
  label {
  display: flex;
  align-items: center;
}

.pbta.sheet.masks .influences .influence-name {
  flex: 4;
}
.pbta.sheet.masks .influences input.influence--name {
  width: calc(100% - 36px);
  font-size: 18px;
  text-align: left;
  height: 32px;
  margin: 0px 0px 8px 0px;
}
.pbta.sheet.masks .influences .influence-management {
  margin: 0px 0px 8px 0px;
  display: flex;
  flex-direction: row;
  text-align: center;
  flex: 4;
}
.pbta.sheet.masks .influences img.influence-icon {
  flex: 1;
  vertical-align: top;
  border: 0;
  height: 32px;
  width: 32px;
  padding: 0;
  margin: 0;
  border-radius: 0;
  cursor: pointer;
}
.pbta.sheet.masks
  .influences
  .influence-management
  .influence-control.influence-delete,
.pbta.sheet.masks
  .influences
  .influence-management
  .influence-control.influence-lock,
.pbta.sheet.masks
  .influences
  .influence-management
  .influence-control.influence-unlock {
  font-size: 28px;
  flex: 1;
}
.pbta.sheet.masks .influences .influence-management .influence-disabled {
  filter: opacity(0.5);
}

.pbta.sheet.masks .masks-custom-list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.pbta.sheet.masks .masks-custom-resource {
  background-color: var(--interactive-bg-color);
  color: var(--primary-text-color);
  border: 1px solid var(--custom-resource-border-color);
  border-radius: 5px;
  padding: 6px;
  margin: 4px;
}
.pbta.sheet.masks .masks-custom-resource > h2 {
  margin-top: 4px;
}
.pbta.sheet.masks .masks-custom-resource .custom-resource-control {
  float: right;
  padding-left: 8px;
}
.pbta.sheet.masks
  .masks-custom-resource
  .custom-resource-control
  a.custom-control {
  padding-left: 8px;
}
.pbta.sheet.masks .masks-custom-resource.masks-custom-text {
  min-height: 200px;
  min-width: 250px;
}
.pbta.sheet.masks .masks-custom-resource.masks-custom-toggle div {
  width: 100%;
  text-align: center;
}
.pbta.sheet.masks .masks-custom-resource.masks-custom-text .editor {
  min-height: 100px;
}
.pbta.sheet.masks
  .masks-custom-resource.masks-custom-text
  .editor
  .tox-editor-container {
  min-height: 200px;
  height: 100% !important;
}

.pbta.sheet.masks .masks-label-shift img {
  border: none;
  margin-right: 4px;
  height: 20px;
  width: 20px;
}
.pbta.sheet.masks .masks-label-shift select {
  color: var(--primary-text-color);
  font-weight: bold;
  max-width: calc(50% - 2px);
  padding-left: 10px;
}
.pbta.sheet.masks .masks-label-shift select option {
  background-color: var(--option-bg-color);
  color: var(--primary-text-color);
  border-radius: 0px;
}
.pbta.sheet.masks .masks-label-shift select.masks-shift-down {
  background: url("/icons/svg/down.svg") no-repeat -10% var(--stats-secondary-bg-color);
  background-size: contain;
}
.pbta.sheet.masks .masks-label-shift select.masks-shift-up {
  background: url("/icons/svg/up.svg") no-repeat -10% var(--stats-secondary-bg-color);
  background-size: contain;
}

/** NPCs **/
.pbta.sheet.masks.npc .sheet-wrapper .sheet-header {
  margin-bottom: 0px;
}
.pbta.sheet.masks .sheet-attributes {
  position: relative;
}

.pbta.sheet.masks .sheet-attributes .cell--stats .stat {
  background: var(--interactive-bg-color);
  color: var(--primary-text-color);
}

.pbta.sheet.masks .sheet-attributes .cell--stats .stat:hover {
  background: var(--interactive-bg-hover-color);
}

.pbta.sheet.masks .sheet-attributes .cell--stats .stat .cell__title {
  color: var(--primary-text-color);
}
.pbta.sheet.masks.npc .sheet-attributes {
  grid-column: span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.pbta.sheet.masks.npc .sheet-attributes .cell-npc-text {
  grid-column: span 2;
}
.pbta.sheet.masks.npc .sheet-attributes .cell-npc-text .editor {
  min-height: 150px;
  max-height: 150px;
}
.pbta.sheet.masks.npc
  .sheet-attributes
  .cell-npc-text
  .editor
  .tox-editor-container {
  min-height: 150px;
  height: 100% !important;
}

/** Custom Styling **/
.pbta.sheet.actor.masks .window-content {
  background-image: var(--window-bg-image);
  background-position: var(--window-bg-position);
  background-repeat: repeat-x;
  background-size: auto;
}
.pbta.sheet.masks .cell__title {
  font-style: italic;
  position: relative;
  padding-left: 8px;
  border-bottom: none;
  color: var(--secondary-text-color);
  letter-spacing: 0.05rem;
  font-size: 22px;
}
.pbta.sheet.masks .cell__title::before {
  z-index: -1;
  content: "";
  position: absolute;
  left: 7px;
  top: 0;
  height: 2px;
  width: 100%;
  background-color: var(--cell-title-border-color);
  transform: skewX(-15deg);
}
.pbta.sheet.masks .cell__title::after {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background-color: var(--cell-title-border-color);
  transform: skewX(-15deg);
}

.pbta.sheet.masks .tabs {
  border-bottom: 2px solid var(--tabs-border-color);
}

.pbta.sheet.masks .sheet-tabs.tabs > a.item {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-style: italic;
  background-color: var(--interactive-bg-color);
  color: var(--primary-text-color);
}
.pbta.sheet.masks .sheet-tabs.tabs > a.item.active,
.pbta.sheet.masks .sheet-tabs.tabs > a.item.active:hover {
  background-color: var(--tab-bg-active-color);
  color: var(--secondary-text-color);
}
.pbta.sheet.masks .sheet-tabs.tabs > a.item:hover,
.pbta.sheet.masks .sheet-tabs.tabs > a.item:focus {
  background-color: var(--interactive-bg-hover-color);
  color: var(--primary-text-color);
  font-weight: bold;
}

.pbta.masks.sheet .sheet-header__fields .view-playbook {
  background: var(--interactive-bg-color);
  color: var(--primary-text-color);
  opacity: 1;
}
.pbta.masks.sheet .sheet-header__fields .view-playbook:hover {
  opacity: 1;
  background: var(--interactive-bg-hover-color);
}

.masks.sheet .cell--image {
  border: 1px solid var(--cell-title-border-color);
}

/** Potential Custom Chat Message Styling, but currently out of scope for the module **/
/* .vtt #chat-log .message .cell__title { text-transform: uppercase; line-height: 1; font-style: italic; position: relative; padding-left: 8px; padding-top: 2px; border-bottom: none; color: black; letter-spacing: 0.05rem; font-size: 22px; width: calc(100% - 2px);}
.vtt #chat-log .message .cell__title::before { content: ""; position: absolute; left: 7px; top: 0; height: 2px; width: 100%; background-color: lightsteelblue; transform: skewX(-15deg); }
.vtt #chat-log .message .cell__title::after { content: ""; position: absolute; left: 0; top: 0; height: 100%; width: 4px; background-color: lightsteelblue; transform: skewX(-15deg); } */
